In [8]:
import pandas as pd
import numpy as np

In [32]:
df_alunos = pd.read_csv('alunos.csv', sep='\t')
df_result = pd.read_csv('resultados.csv', sep=';', usecols=['Matricula', 'Nome'])

In [33]:
faltantes = df_alunos[~df_alunos['Matrícula'].isin(df_result['Matricula'])]
faltantes

    Matrícula                              Nome
0      548347   ADAILTON BEZERRA DA SILVA FILHO
4      540901  ANTONIO KLEBERSON DO CARMO SILVA
8      552568  CARLOS JEFERSON JACINTO DA SILVA
18     548348    GEORGE FELIPE PLACIDO NOGUEIRA
47     433953             VITTOR DE MORAIS MELO
48     555637           WEYDNA DA SILVA FREITAS

In [3]:
[1,2,3][::-1]

[3, 2, 1]

In [11]:
l = [1055, 5601, 0, 0, 2210]

In [13]:
l.remove(max(l))

In [25]:
l

[1055, 0, 0, 2210]

In [15]:
np.mean(l)

np.float64(816.25)

In [27]:
np.mean(l)*(1.1+0.03*5)

np.float64(1020.3125)

In [32]:
max([1358, 0, 0, 7238, 2370])/2

3619.0

In [31]:
np.mean([9024, 0, 0, 0, 2339]), max([9024, 0, 0, 0, 2339])/2

(np.float64(2272.6), 4512.0)

In [20]:
[[{'ordem_matr': '02-555670', 'questao': 1, 'numero_pixels_na_coluna': [1358, 0, 0, 7238, 2370]}], [{'ordem_matr': '09-511520', 'questao': 17, 'numero_pixels_na_coluna': [342, 0, 0, 5124, 1487]}, {'ordem_matr': '09-511520', 'questao': 18, 'numero_pixels_na_coluna': [569, 0, 5327, 0, 1771]}, {'ordem_matr': '09-511520', 'questao': 19, 'numero_pixels_na_coluna': [911, 5494, 0, 0, 1977]}, {'ordem_matr': '09-511520', 'questao': 20, 'numero_pixels_na_coluna': [1055, 5601, 0, 0, 2210]}], [{'ordem_matr': '17-537071', 'questao': 18, 'numero_pixels_na_coluna': [683, 0, 7957, 0, 2175]}, {'ordem_matr': '17-537071', 'questao': 20, 'numero_pixels_na_coluna': [9024, 0, 0, 0, 2339]}], [{'ordem_matr': '26-509954', 'questao': 8, 'numero_pixels_na_coluna': [10053, 0, 0, 15994, 1214]}], [{'ordem_matr': '32-497184', 'questao': 20, 'numero_pixels_na_coluna': [1216, 0, 0, 6115, 2126]}], [{'ordem_matr': '34-553576', 'questao': 5, 'numero_pixels_na_coluna': [390, 0, 0, 4921, 1382]}], [{'ordem_matr': '36-536910', 'questao': 1, 'numero_pixels_na_coluna': [1361, 0, 0, 6822, 2078]}], [{'ordem_matr': '38-552631', 'questao': 1, 'numero_pixels_na_coluna': [1441, 0, 0, 5258, 2124]}], [{'ordem_matr': '45-553381', 'questao': 20, 'numero_pixels_na_coluna': [1361, 0, 6115, 0, 2023]}]]

[[{'ordem_matr': '02-555670',
   'questao': 1,
   'numero_pixels_na_coluna': [1358, 0, 0, 7238, 2370]}],
 [{'ordem_matr': '09-511520',
   'questao': 17,
   'numero_pixels_na_coluna': [342, 0, 0, 5124, 1487]},
  {'ordem_matr': '09-511520',
   'questao': 18,
   'numero_pixels_na_coluna': [569, 0, 5327, 0, 1771]},
  {'ordem_matr': '09-511520',
   'questao': 19,
   'numero_pixels_na_coluna': [911, 5494, 0, 0, 1977]},
  {'ordem_matr': '09-511520',
   'questao': 20,
   'numero_pixels_na_coluna': [1055, 5601, 0, 0, 2210]}],
 [{'ordem_matr': '17-537071',
   'questao': 18,
   'numero_pixels_na_coluna': [683, 0, 7957, 0, 2175]},
  {'ordem_matr': '17-537071',
   'questao': 20,
   'numero_pixels_na_coluna': [9024, 0, 0, 0, 2339]}],
 [{'ordem_matr': '26-509954',
   'questao': 8,
   'numero_pixels_na_coluna': [10053, 0, 0, 15994, 1214]}],
 [{'ordem_matr': '32-497184',
   'questao': 20,
   'numero_pixels_na_coluna': [1216, 0, 0, 6115, 2126]}],
 [{'ordem_matr': '34-553576',
   'questao': 5,
   'numero_pixels_na_coluna': [390, 0, 0, 4921, 1382]}],
 [{'ordem_matr': '36-536910',
   'questao': 1,
   'numero_pixels_na_coluna': [1361, 0, 0, 6822, 2078]}],
 [{'ordem_matr': '38-552631',
   'questao': 1,
   'numero_pixels_na_coluna': [1441, 0, 0, 5258, 2124]}],
 [{'ordem_matr': '45-553381',
   'questao': 20,
   'numero_pixels_na_coluna': [1361, 0, 6115, 0, 2023]}]]