In [8]:
import pandas as pd
import numpy as np

In [32]:
df_alunos = pd.read_csv('alunos.csv', sep='\t')
df_result = pd.read_csv('resultados.csv', sep=';', usecols=['Matricula', 'Nome'])

In [33]:
faltantes = df_alunos[~df_alunos['Matrícula'].isin(df_result['Matricula'])]
faltantes

    Matrícula                              Nome
0      548347   ADAILTON BEZERRA DA SILVA FILHO
4      540901  ANTONIO KLEBERSON DO CARMO SILVA
8      552568  CARLOS JEFERSON JACINTO DA SILVA
18     548348    GEORGE FELIPE PLACIDO NOGUEIRA
47     433953             VITTOR DE MORAIS MELO
48     555637           WEYDNA DA SILVA FREITAS

In [3]:
[1,2,3][::-1]

[3, 2, 1]

In [11]:
l = [1055, 5601, 0, 0, 2210]

In [13]:
l.remove(max(l))

In [25]:
l

[1055, 0, 0, 2210]

In [15]:
np.mean(l)

np.float64(816.25)

In [27]:
np.mean(l)*(1.1+0.03*5)

np.float64(1020.3125)

In [32]:
max([1358, 0, 0, 7238, 2370])/2

3619.0

In [31]:
np.mean([9024, 0, 0, 0, 2339]), max([9024, 0, 0, 0, 2339])/2

(np.float64(2272.6), 4512.0)

In [34]:
np.mean([10053, 0, 0, 15994, 1214]), np.max([10053, 0, 0, 15994, 1214])/2

(np.float64(5452.2), np.float64(7997.0))